/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
}

header img {
    margin-right: 10px;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

/* Estilos para la sección principal */
main {
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
}

section.dark-theme {
    background-color: #333;
    color: #fff;
}

section h2,
section.dark-theme h2,
section p,
section.dark-theme p {
    color: #333;
}

/* Estilos para la lista de libros */
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.book {
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para la sección de información sobre mí */
.about-me {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.about-me.dark-theme {
    background-color: #333;
    color: #fff;
}

.about-me img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.about-me h3,
.about-me.dark-theme h3,
.about-me p,
.about-me.dark-theme p,
.about-me a,
.about-me.dark-theme a {
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para el tema claro */
body {
    background-color: #f1f1f1;
    color: #333;
}

body.dark-theme {
    /* Estilos para el tema oscuro */
    background-color: #333;
    color: black;
}

body.dark-theme section h2,
body.dark-theme section p,
body.dark-theme footer {
    color: black;
}
